body {
    background-image: url(../assets/Crystal-Ball-Background.jpeg);
    background-size: cover;
}

.container {
    width: 400px;
    margin-left: 850px;
    text-align: center;
    background: #7bafd4;
    color:#faedcd;
    border: solid black;
    border-radius: 10px;
    padding: 40px;
    margin-top: 40px;
}

h1 {
    font-family: "Dancing Script", sans-serif;
    margin-top: auto;
    font-size: 50px;
}
h2 {
    font-family: "Dancing Script", sans-serif;
}

#reveal-button {
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 30px;
    padding: 10px;
    border: white;
    background: #faedcd;
}

#reset-button {
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 30px;
    padding: 10px;
    border: white;
    background: #faedcd;
}

#eight-ball {
    width: 250px;
    height: 250px;
    margin-left: 35%;
    padding-top: 5%;
    padding-bottom: 20%;
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: "Dancing Script", sans-serif;
    color: white;
}

